@{
    ViewData["Title"] = "Confirm Email";
}

<div class="alert alert-success mt-4 text-center">
    <h4 class="mb-3">✅ Email confirm successfully!</h4>
    <p>Теперь вы можете <a href="/Account/Login">войти</a> в систему.</p>
</div>